<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="uTraveler"/>
    <meta name="keywords" content="uTraveler, App, Mobile"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- SITE TITLE -->
    <title>uTraveler</title>

    <!-- =========================
         STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/bootstrap.min.css"/>

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/assets/elegant-icons/style.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/assets/app-icons/styles.css"/>
    <!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

    <!-- WEB FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'/>

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/owl.theme.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/owl.carousel.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/nivo-lightbox.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/nivo_themes/default/default.css"/>


    <!-- ANIMATIONS -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/animate.min.css"/>

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/styles.css"/>

    <!-- COLORS | CURRENTLY USED DIFFERENTLY TO SWITCH FOR DEMO. IN ORIGINAL FILE ALL COLORS LINK IS COMMENTED EXCEPT BLUE -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/colors/green.css" title="green"/>


    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/responsive.css"/>

    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/demo/demo.css"/>


    <!--[if lt IE 9]>
    <script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/html5shiv.js"></script>
    <script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/respond.min.js"></script>
    <![endif]-->

    <!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>


<!-- =========================
     PRE LOADER
============================== -->
<div class="preloader">
    <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER
============================== -->
<header class="header" data-stellar-background-ratio="0.5" id="home"
        style="background: url(../resources/images/bg.jpg) no-repeat fixed center top;-webkit-background-size: cover; background-size: cover;">

    <!-- COLOR OVER IMAGE -->
    <div class="color-overlay" style="min-height: 977px;"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->


        <!-- CONTAINER -->
        <div class="container">

            <!-- ONLY LOGO ON HEADER -->
            <div class="only-logo">
                <div class="navbar">
                    <div class="navbar-header">

                        <br />
                        <!--<div style="font-size: 24px; color: white;">
                            uTravaler
                        </div> -->
                    </div>
                </div>
            </div>


            <div class="row home-contents" style="margin: 0;">
                <div class="col-md-6 col-sm-6">

                    <!-- HEADING AND BUTTONS -->
                    <div class="intro-section">

                        <!-- ONLY LOGO ON HEADER -->
                        <div class="only-logo">
                            <div class="navbar" style="padding: 15px">
                                <div class="navbar-header" style="text-align: center;">
                                    <img src="../resources/images/Logo.png" alt="" style="width: 150px;"/>
                                    <br />
                                    <!--<div style="font-size: 24px; color: white;">
                                        uTravaler
                                    </div> -->
                                </div>
                            </div>
                        </div> <!-- /END ONLY LOGO ON HEADER -->

                        <!-- WELCOM MESSAGE -->
                        <h2 class="intro">Your trip in one place</h2>

                        <h5>Soon on Windows Phone Store</h5>
                        <!-- BUTTON -->
                        <div class="buttons" id="download-button">

                            <a href="#download" class=""><img src="../resources/images/store.png" style="width: 60px; opacity: 0.5;" title="Soon on Windows Phone Store"/> </a>

                        </div>

                        <div style="margin-top: 100px;">
                            <a href="/about" style="color: white;">About</a> |
                            <a href="/privacy" style="color: white;">Privacy</a>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 col-sm-6 hidden-xs">

                    <!-- PHONE IMAGE WILL BE HIDDEN IN TABLET PORTRAIT AND MOBILE-->
                    <div class="phone-image">
                        <img src="../resources/images/splashscreen.png" class="img-responsive" alt=""/>
                    </div>

                </div>

            </div>
            <!-- /END ROW -->

        </div>
        <!-- /END CONTAINER -->
    </div>
    <!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->


<section class="features" id="features">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Main Features</h2>
            <div class="colored-line">
            </div>
            <div class="section-description">
                uTraveler helps you to organize, plan, record and save your trips or other events, share your best moments with your friends in Facebook.

            </div>
            <div class="colored-line">
            </div>
        </div>
        <!-- /END SECTION HEADER -->


        <div class="row">

            <!-- FEATURES LEFT -->
            <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Manage your trips offline</h4>
                        <p>
                            Wherever you travel you can add some photos or just post some messages
                            and when you have access to the internet - upload it to the Cloud
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Plan your route</h4>
                        <p>
                            Create some routes using Google Maps, export to KML\KMZ files and add them to your trip.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Track your spending</h4>
                        <p>
                            Record how much money you spent for a particular thing during your trip
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES LEFT -->

            <!-- PHONE IMAGE -->
            <div class="col-md-4 col-sm-4">
                <div class="phone-image wow bounceIn animated animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
                    <img src="../resources/images/walkthrough.png" alt=""/>
                </div>
            </div>

            <!-- FEATURES RIGHT -->
            <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">


                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Facebook integration</h4>
                        <p>
                            With uTraveler you can share your photos or post some messages to Facebook,
                            write and see comments and likes of a post.
                        </p>
                    </div>

                </div>

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">User profile customization</h4>
                        <p>
                            Customize your profile changing avatar, cover photo, name and description.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->


                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Interface customization</h4>
                        <p>
                            Customize the interface changing the colors of background, foreground or text.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES RIGHT -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>

<!-- =========================
     SCREENSHOTS
============================== -->
<section class="screenshots deep-dark-bg" id="screenshot-section">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Screenshots</h2>

            <div class="colored-line">
            </div>
            <div class="section-description">
                Some screenshots taken from the App to show main features in-action
            </div>
            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <div id="screenshots" class="owl-carousel owl-theme">

                <div class="shot">
                    <a href="../resources/images/screenshots/s1.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s1.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s2.jpg" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s2.jpg" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s3.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s3.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s4.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s4.png" alt="Screenshot"/>
                    </a>
                </div>


                <div class="shot">
                    <a href="../resources/images/screenshots/s9.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s9.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s5.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s5.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s6.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s6.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s7.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s7.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s8.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s8.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s10.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s10.png" alt="Screenshot"/>
                    </a>
                </div>

                <div class="shot">
                    <a href="../resources/images/screenshots/s11.png" data-lightbox-gallery="screenshots-gallery">
                        <img src="../resources/images/screenshots/s11.png" alt="Screenshot"/>
                    </a>
                </div>

            </div>
            <!-- /END SCREENSHOTS -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->



<!-- =========================
     SCRIPTS
============================== -->

<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/bootstrap.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/smoothscroll.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.scrollTo.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.localScroll.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/owl.carousel.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/nivo-lightbox.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/simple-expand.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/wow.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.stellar.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/retina-1.1.0.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.nav.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/matchMedia.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.ajaxchimp.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.fitvids.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/custom.js"></script>



</body>
</html>