<html lang="en"><head>
    <meta charset="UTF-8"/>

    <!-- SITE TITLE -->
    <title>uTraveler - privacy</title>

    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/bootstrap.min.css"/>

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/assets/elegant-icons/style.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/assets/app-icons/styles.css"/>
    <!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

    <!-- WEB FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic" rel="stylesheet" type="text/css"/>

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/owl.theme.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/owl.carousel.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/nivo-lightbox.css"/>
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/nivo_themes/default/default.css"/>


    <!-- ANIMATIONS -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/animate.min.css"/>

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/styles.css"/>

    <!-- COLORS | CURRENTLY USED DIFFERENTLY TO SWITCH FOR DEMO. IN ORIGINAL FILE ALL COLORS LINK IS COMMENTED EXCEPT BLUE -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/colors/green.css" title="green"/>


    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/css/responsive.css"/>

    <link rel="stylesheet" href="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/demo/demo.css"/>


    <!--[if lt IE 9]>
    <script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/html5shiv.js"></script>
    <script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/respond.min.js"></script>
    <![endif]-->

    <!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style><style type="text/css"></style></head>

<body cz-shortcut-listen="true">


<!-- =========================
     PRE LOADER
============================== -->
<div class="preloader" style="display: none;">
    <div class="status" style="display: none;">&nbsp;</div>
</div>


<section class="features" id="features">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated animated animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Privacy Policy</h2>

        </div>
        <!-- /END SECTION HEADER -->


        <div class="row">

            <!-- FEATURES LEFT -->
            <div class="col-md-12 col-sm-12 features-right wow fadeInLeft animated animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

                <h4 class="main-color">
                   What data do we need? (in brief)
                </h4>
                <p>
                   1) To setup your profile we need your email and password and we use them ONLY for authentication and they are hidden from any other users.
                      We DON'T send any spam or any other kind of information to your email, however we may respond to your email for your request or if you require support.
                </p>
                <p>
                   2) If you sign in to Facebook or Microsoft Live we DON'T post or read anything without your permission.
                      All data you use to sign in to Facebook or Microsoft Live are only needed for the registration process and these data are NOT transmitted to our servers.
                </p>
                <p>
                   3) We DON'T give any of your data, which is used in uTraveler app, to third parties.
                </p>
                <p>
                    4) You can delete your data such as: photos, messages, routes, trips, etc. at any time from the Cloud. However you cannot delete your account for now.
                </p>

                <h4 class="main-color">
                    INFORMATION YOU PROVIDE
                </h4>
                <p>
                    Profile Information. When you register for a uTraveler account, we will ask for your email address and password. You may also provide additional information such as name, a profile picture, a cover picture and a short description about yourself.
                    Information You Post. We collect and save information or other content that you may post using the App (such as text, photos, routes, profile avatar and cover image) to our Server only if you are connected to our server thus granted the permission to save this content remotely. When you post things like photos or text on our Server, we may receive additional related data (or metadata), such as the time, date, and place you took the photo or wrote a message however the App has a setting where you can let us to collect your geolocation to apply it on the posted photos or messages.
                    Other Services. We receive information when you choose to connect social media or other third party accounts (such as Facebook or Microsoft Live accounts) and applications with your uTraveler account, including a token to authenticate your identity between these accounts.
                    Payment Information. We do not collect credit card information. Purchases for specific features or upgrades (now or in future) are handled by third party app stores such as Windows Phone Store. We are not responsible for the policies and practices of such app stores.

                </p>
                <h4 class="main-color">
                    INFORMATION WE RECEIVE FROM YOUR USE OF THE APP.
                </h4>
                <p>
                    Usage Information. We do not collect information when you use the App, including: (1) information about your interaction with the Services, including the actions you take on the Services; (2) device information, such as unique device identifiers, wireless service provider or mobile carrier, operating system information, IP address, browser type.
                    Location Information. We will collect location (GPS coordinates) information if you provide it to us, unless you configure your operating system settings or switched off the apropriate setting provided in the App to prevent our collection of location information.
                    Cookies and Other Tracking Technologies. We do not collect certain information through the use of “cookies” and other tracking technologies, however most Internet browsers automatically accept cookies when you are signed in your Facebook or Microsoft Live account using the App. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting cookies from the websites you visit.

                </p>
                <h4 class="main-color">
                    HOW DO WE USE AND SHARE THE INFORMATION WE COLLECT?
                </h4>
                <p>
                    We DO NOT use and share any kind of information you posted to our server using the App. The server is used to synchronize data in your personal device and the synchronization process from server to your device automatically happens only when you are connected to server. The synchronization process from your device to server can be performed only if you do it manually in the App thus you have control (using provided settings in the App) under your data and decide what data will be only on your device and what data will be both on server and device.
                    If you are signed in your Facebook account we can collect your name, avatar, albums list, identifiers of posted photos or messages, comments and likes of the posts (if these posts were created using the specific features in the App) but we DO NOT save this information on our server except identifiers of posted photos or messages.

                </p>
                <h4 class="main-color">
                    ACCESSING AND MODIFYING YOUR PERSONAL INFORMATION
                </h4>
                <p>
                    You can access and modify certain profile information or delete content you have posted through the App.
                </p>
                <h4 class="main-color">
                    YOUR PREFERENCES
                </h4>
                <p>
                    We provide you with settings that allow you to adjust your preferences, including the automatic connection to server, sharing of your location and the App appearance. All settings provided by App are linked with certain user and saved only locally on a user device.

                </p>
                <h4 class="main-color">
                    WHAT STEPS DO WE TAKE TO PROTECT YOUR PERSONAL INFORMATION?
                </h4>
                <p>
                    We take reasonable measures to protect your personal information in an effort to prevent loss, misuse, and unauthorized access, disclosure, alteration, and destruction. Please be aware, however, that despite our efforts, no security measures are perfect or impenetrable and no method of data transmission can be guaranteed against any interception or other type of misuse.
                </p>

            </div>
            <!-- /END FEATURES LEFT -->




        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>





<!-- =========================
     SCRIPTS
============================== -->

<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/bootstrap.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/smoothscroll.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.scrollTo.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.localScroll.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/owl.carousel.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/nivo-lightbox.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/simple-expand.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/wow.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.stellar.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/retina-1.1.0.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.nav.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/matchMedia.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.ajaxchimp.min.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/jquery.fitvids.js"></script>
<script src="http://designlab.co/demo/template/kane/layout-style-two/dark/image-bg/js/custom.js"></script>




</body></html>